[submodule "benchmarks"]
	path = benchmarks
	url = ../benchmarks.git
[submodule "opencl"]
	path = libcaf_opencl
	url = ../opencl.git
[submodule "libcaf_python"]
	path = libcaf_python
	url = ../python.git
