html/
.DS_Store
*.o
*.dylib
test
*.png
*.dat
*.ii
*.s
*.tmp
a.out*
queue_test
cppa.creator.user
8threads
4threads
libcppa.Makefile
cpp0x_test
cpp0x_test.dSYM/
Makefile
Makefile.rules
libcppa.Makefile
libcppa.so*
